
.welbex_wrapper {
  display: grid;
  grid-template-areas: 'left left right right' 'left left right right' 'left left right right' 'bottom bottom bottom bottom';
  margin-top: 90px;

}

.leftBlock {
  grid-area: left;
  width: fit-content;

  div {
    p {
      margin: 0;
      margin-bottom: 30px;
      width: 362px;
      color: #E4E5EA;
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      span {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
        background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(252, 176, 69, 1) 0%, rgba(254, 110, 99, 1) 80%, rgba(255, 63, 120, 1) 100%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;

      }
    }
  }

  p {
    width: 275px;
    color: var(--light-text, #E4E5EA);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
}

.rightBlock {
  grid-area: right;
  width: fit-content;
  justify-self: end;

  .article {
    display: inline;
    text-align: right;
    color: var(--light-text, #E4E5EA);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: fit-content;
    margin-right: 0;

    span {
      background: rgb(252, 176, 69);
      background: linear-gradient(90deg, rgba(252, 173, 68, 1) 0%, rgba(252, 140, 59, 1) 5%, rgba(253, 76, 41, 1) 35%, #FD1D1D 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.9px;
      text-transform: uppercase;

      span {
        background: var(--gradient, linear-gradient(90deg, #FCB045 0%, rgba(252, 173, 68, 1) 80%, rgba(252, 129, 56, 1) 100%));
        background-clip: text;
      }
    }
  }

  .items {
    margin-top: 40px;
    display: grid;
    grid-template-areas: 'widgets dashboard' 'skype_audit days_using_CRM';
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: fit-content;
    justify-content: end;
    box-sizing: border-box;
    overflow: hidden;

    div {

      display: inline-block;
      height: 68px;
      color: #E4E5EA;
      text-align: right;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      p {
        margin-top: 6px;
        margin-bottom: 0;
        height: 40px;
      }

      span {
        display: block;
        height: 22px;
        color: var(--light-text, #E4E5EA);
        text-align: right;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.9px;
        text-transform: uppercase;
      }
    }

    .item__widgets {
      grid-area: widgets;
    }

    .item__dashboard {
      grid-area: dashboard;
    }

    .item__skype_audit {
      grid-area: skype_audit;
      margin-right: 1px;

      span {
        margin-right: -1px;
      }
    }

    .item__days_using_CRM {
      grid-area: days_using_CRM;
    }

    .number_of_widgets,
    .month_of_amocrm {
      display: none;
    }

    .line {
      display: none;
    }
  }

}

.Bottom {
  margin-top: 61px;
  grid-area: bottom;
  //width: 262px;
  height: 61px;
  flex-shrink: 0;
  display: inline-block;
  justify-self: end;
  line-height: 61px;
  text-align: center;
  align-items: center;

  a {
    text-transform: none;
    text-decoration: none;
    color: var(--light-text, #E4E5EA);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 21px 34px 21px 35px;
    background: #4077F3;

  }

}


@media screen and (max-width: 480px) {
  .welbex_wrapper {
    display: flex;
    margin-top: 0;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-left: 14px;

    .leftBlock {
      width: auto;
      margin-top: 40px;
      div {
        p {
          margin: 0;
          width: auto;
          color: var(--light-text, #E4E5EA);
          font-family: Inter;
          font-size: 36px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          span {
            background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
            background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(252, 176, 69, 1) 0%, rgba(254, 110, 99, 1) 80%, rgba(255, 63, 120, 1) 100%);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            font-family: Inter;
            font-size: 36px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            margin-left: 1px;
          }
        }
      }
      p {
        margin-top: 15px;
      }
    }


    .rightBlock {
      width: auto;
      min-width: 300px;
      margin-top: 45px;
      .article {

        width: 272px;
        display: block;
        text-align: left;
        color: var(--light-text, #E4E5EA);
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-right: 0;

        span {
          background: rgb(252, 176, 69);
          background: linear-gradient(90deg, rgba(252, 173, 68, 1) 0%, rgba(252, 140, 59, 1) 5%, rgba(253, 76, 41, 1) 35%, #FD1D1D 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.9px;
          text-transform: lowercase;

          span {
            background: var(--gradient, linear-gradient(90deg, #FCB045 0%, rgba(252, 173, 68, 1) 80%, rgba(252, 129, 56, 1) 100%));
            background-clip: text;
          }
        }

        p {
          margin: 0;
          display: inline-block;
          width: auto;
          margin-left: 1px;
        }
      }

      .items {
        margin-top: 20px;
        margin-left: 2px;
        display: grid;
        width: 100%;
        grid-template-areas: 'skype_audit number_of_widgets' 'dashboard month_of_amocrm';
        grid-gap: 10px;
        grid-row-gap: 14px;
        justify-content: start;
        div {
          display: inline-block;
          height: 16px;

          p {
            display: none;
            margin-top: 6px;
            margin-bottom: 0;
            height: 0px;
          }

          span {
            color: var(--light-text, #E4E5EA);
            font-family: Montserrat;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.65px;
            text-transform: uppercase;
            height: 16px;
            display: inline-block;
            float: left;
          }
        }

        .item__widgets {
          display: none;
        }

        .item__dashboard {
        }

        .item__skype_audit {

        }

        .item__days_using_CRM {
          display: none;
        }
        .line {
          float: left;
          display: inline-block;
          margin-top: 8px;
          text-align: end;
          margin-right: 5px;
          height: 0px;
          width: 10px;
          border-left: none;
          border-right: none;
          border-top: none;
          border-bottom: 1px solid;
          border-image: linear-gradient(to right, #FCB045, #FD1D1D) 100% 0%;
        }
      }

    }

    .Bottom {
      display: none;
    }

  }
}