
.App{
    min-width: 1440px;
    width: 100%;
    background: #0E1014;
    min-height: 100%;
}
.App-wrapper{
    overflow: hidden;
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.Content{
    width: 1140px;
    min-height: 456px;
    height: calc(100vh - 524px);
    margin: 0 auto;
    background: #0E1014;

}


@media screen and (max-width:480px){
    .App{
        width: 100%;
        min-width: 100%;

    }
    .App-wrapper{
        width: 100%;
        min-width: 100%;

    }
    .Content{
        width: 100%;
        min-width: 100%;
        min-height: 445px;
        background: radial-gradient(304.35% 148.20% at 3.20% 3.49%, rgba(255, 246, 233, 0.10) 0%, rgba(26, 29, 35, 0.10) 26.62%, rgba(26, 29, 35, 0.10) 52.10%, rgba(26, 29, 35, 0.01) 70.17%, rgba(26, 29, 35, 0.00) 100%), url('./assets/noise/noise.png');
        backdrop-filter: blur(7.5px);
    }
}